{% INCLUDE 'overall_header.html' %}

<h1>{{ lang('ACP_VIDEO_TITLE') }}</h1>

<p>{{ lang('ACP_VIDEO_TITLE_EXPLAIN') }}</p>

{% if loops.title|length %}
<table cellspacing="1">
	<thead>
		<tr>
			<th>{{ lang('ACP_VIDEO_TITLE') }}</th>
			<th>{{ lang('ACP_VIDEO_CAT_TITLE') }}</th>
			<th>{{ lang('VIDEO_AUTHOR') }}</th>
			<th>{{ lang('ACTION') }}</th>
		</tr>
	</thead>
	<tbody>
	{% for title in loops.title %}
		{% if title.S_ROW_COUNT is even %}<tr class="row1">{% else %}<tr class="row2">{% endif %}
			<td>{{ title.VIDEO_TITLE }}</td>
			<td>{{ title.VIDEO_CAT_TITLE }}</td>
			<td>{{ title.USERNAME }}</td>
			<td>&nbsp;<a href="{{ title.U_DEL }}" data-ajax="row_delete">{{ ICON_DELETE }}</a>&nbsp;<a href="{{ title.U_SYNC }}">{{ ICON_SYNC }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
<br />
{% endif %}

{% if not loops.title|length %}
<p class="error"><strong>{{ lang('NO_TITLE') }}</strong></p>
{% endif %}

{% INCLUDE 'overall_footer.html' %}
