{% INCLUDE 'overall_header.html' %}
{% INCLUDECSS '@dmzx_youtubegallery/css/video_acp.css' %}

<a name="maincontent"></a>

<h1><i class="icon fa-youtube fa-fw" aria-hidden="true"></i> {{ lang('ACP_VIDEO') }}</h1>

<p>{{ lang('ACP_VIDEO_EXPLAIN') }}</p>

<p><img src="https://img.shields.io/badge/{{ lang('Version') }}-{{ VIDEO_GALLERY_VERSION }}-green.svg?style=plastic" /></p>

<form id="acp_video" method="post" action="{{ U_ACTION }}" enctype="multipart/form-data">
	<fieldset>
		<legend>{{ lang('ACP_VIDEO_GENERAL_SETTINGS') }}</legend>
		<dl>
			<dt><label>{{ lang('ACP_ENABLE_VIDEO_GLOBAL') }}{{ lang('COLON') }}</label><br />{{ lang('ACP_ENABLE_VIDEO_GLOBAL_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="enable_video_global" value="1"{% if ENABLE_VIDEO_GLOBAL %} id="enable_video_global" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="enable_video_global" value="0"{% if not ENABLE_VIDEO_GLOBAL %} id="enable_video_global" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_GOOGLE_KEY') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_GOOGLE_KEY_EXPLAIN') }}</span></dt>
			<dd><input type="text" name="google_api_key" size="40" maxlength="40" value="{{ GOOGLE_KEY_ACP }}" /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_VIDEOS_PER_PAGE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_VIDEOS_PER_PAGE_EXPLAIN') }}</span></dt>
			<dd><input type="number" name="videos_per_page" size="3" maxlength="4" value="{{ VIDEOS_PER_PAGE_ACP }}" /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_ENABLE_VIDEO_STATICS_ON_INDEX') }}{{ lang('COLON') }}</label><br />{{ lang('ACP_ENABLE_VIDEO_STATICS_ON_INDEX_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="enable_video_statics_on_index" value="1"{% if ENABLE_VIDEO_STATICS_ON_INDEX %} id="enable_video_statics_on_index" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="enable_video_statics_on_index" value="0"{% if not ENABLE_VIDEO_STATICS_ON_INDEX %} id="enable_video_statics_on_index" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_ENABLE_COMMENTS') }}{{ lang('COLON') }}</label><br />{{ lang('ACP_ENABLE_COMMENTS_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="enable_comments" value="1"{% if ENABLE_COMMENTS %} id="enable_comments" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="enable_comments" value="0"{% if not ENABLE_COMMENTS %} id="enable_comments" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_COMMENTS_PER_PAGE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_COMMENTS_PER_PAGE_EXPLAIN') }}</span></dt>
			<dd><input type="number" name="comments_per_page" size="3" maxlength="4" value="{{ COMMENTS_PER_PAGE_ACP }}" /></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_ENABLE_VIDEO_ON_INDEX') }}{{ lang('COLON') }}</label><br />{{ lang('ACP_ENABLE_VIDEO_ON_INDEX_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="enable_video_on_index" value="1"{% if ENABLE_VIDEO_ON_INDEX %} id="enable_video_on_index" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="enable_video_on_index" value="0"{% if not ENABLE_VIDEO_ON_INDEX %} id="enable_video_on_index" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_ENABLE_VIDEO_ON_INDEX_LOCATION') }}{{ lang('COLON') }}</label><br />{{ lang('ACP_ENABLE_VIDEO_ON_INDEX_LOCATION_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="enable_video_on_index_location" value="1"{% if ENABLE_VIDEO_ON_INDEX_LOCATION %} id="enable_video_on_index_location" checked="checked" {% endif %} /> {{ lang('ACP_VIDEO_TOP') }}</label>
			<label><input type="radio" class="radio" name="enable_video_on_index_location" value="0"{% if not ENABLE_VIDEO_ON_INDEX_LOCATION %} id="enable_video_on_index_location" checked="checked" {% endif %} /> {{ lang('ACP_VIDEO_BOTTOM') }}</label></dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_VIDEO_ON_INDEX_VALUE') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_VIDEO_ON_INDEX_VALUE_EXPLAIN') }}</span></dt>
			<dd><input type="number" name="video_on_index_value" size="3" maxlength="4" value="{{ VIDEO_ON_INDEX_VALUE_ACP }}" /></dd>
		</dl>
		{% if VIDEO_CHAT_VIEW %}
		<dl>
			<dt><label>{{ lang('ACP_ENABLE_VIDEO_CHAT') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_ENABLE_VIDEO_CHAT_EXPLAIN') }}</span></dt>
			<dd>
				<label><input name="enable_video_chat" type="radio" {% if ENABLE_VIDEO_CHAT %} checked="checked"{% endif %} class="radio" value="1" /> {{ lang('YES') }}</label>
				<label><input name="enable_video_chat" type="radio" {% if not ENABLE_VIDEO_CHAT %} checked="checked"{% endif %} class="radio" value="0" /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		<dl>
			<dt><label>{{ lang('ACP_ENABLE_VIDEO_CHAT_COMMENT') }}{{ lang('COLON') }}</label><br /><span>{{ lang('ACP_ENABLE_VIDEO_CHAT_COMMENT_EXPLAIN') }}</span></dt>
			<dd>
				<label><input name="enable_video_chat_comment" type="radio" {% if ENABLE_VIDEO_CHAT_COMMENT %} checked="checked"{% endif %} class="radio" value="1" /> {{ lang('YES') }}</label>
				<label><input name="enable_video_chat_comment" type="radio" {% if not ENABLE_VIDEO_CHAT_COMMENT %} checked="checked"{% endif %} class="radio" value="0" /> {{ lang('NO') }}</label>
			</dd>
		</dl>
		{% endif %}
		<dl>
			<dt><label>{{ lang('ACP_ENABLE_VIDEO_YOUTUBE_STATS') }}{{ lang('COLON') }}</label><br />{{ lang('ACP_ENABLE_VIDEO_YOUTUBE_STATS_EXPLAIN') }}</dt>
			<dd><label><input type="radio" class="radio" name="enable_video_youtube_stats" value="1"{% if ENABLE_VIDEO_YOUTUBE_STATS %} id="enable_video_youtube_stats" checked="checked" {% endif %} /> {{ lang('YES') }}</label>
			<label><input type="radio" class="radio" name="enable_video_youtube_stats" value="0"{% if not ENABLE_VIDEO_YOUTUBE_STATS %} id="enable_video_youtube_stats" checked="checked" {% endif %} /> {{ lang('NO') }}</label></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% INCLUDE 'overall_footer.html' %}
