h3.center {
	text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 110ch;
}

a {
    display: inline;
}

.video_item .content{
	font-size: 1.1em;
}

.video_item img {
	display: inline-block; 
	float: left;
	height: 72px;
	padding: 23px 10px 20px 0;
	position: relative; 
	vertical-align: middle;
	width: 96px;
}

.buttons div.video-icon	{ 
	width: 96px; 
	height: 25px; 
}

.rtl .icon-videos {
	background-position: 100% 50%;
	padding: 1px 17px 0 0;
}

.icon-videos { 
	background-image: url("./images/icon_videos.gif"); 
	background-position: 0 50%;
	background-repeat: no-repeat;
	padding: 1px 0 0 1px;
}

.icon_youtube { 
	background-image: url("./images/youtube.png");
	background-repeat: no-repeat;
	padding: 2px 10px;
    vertical-align: middle;
}

ul.video {
    width:100%;
    text-align:center;
	list-style-type: none;
	padding-bottom: 6px;
}

ul.video li {
    display: inline-block;
    font-size: inherit;
    line-height: inherit;
	padding-bottom: 2px;
	width: 180px;
}

ul.video li.videolist {
    text-align:center;
	margin: 5px 3px 0;
	padding-top: 5px;
	padding-bottom: 2px;
	/* box-shadow: 0 0 4px #000000; */
	-webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

#videolists {
	box-shadow: 0 0 8px #8706FF;
    border-radius: 100%;
	height: 100px;
	width: 100px;
}

/* Tip from: https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#codehtml {
    font-weight: bold;
}

.buttoncopy {
	font-size: 1em;
	padding: 1.5px 6px;
	margin: 0;
	outline: 0;
	box-shadow: none;
	padding-bottom: 4.5px;
	position: relative;
	background-color: #aaa;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
}

@media all and (min-width : 350px) and (max-width : 850px) {
	#codes input{
		width: 80%;
	}
	.buttoncopy {
		padding-top: 2px;
		padding-bottom: 4px;
	}
}

.copied::after {
	position: absolute;
	top: 12%;
	right: 110%;
	display: block;
	content: "copied";
	font-size: 0.75em;
	padding: 0 2px 0 3px;
	color: #fff;
	background-color: #9900ff;
	border-radius: 3px;
	opacity: 0;
	will-change: opacity, transform;
	animation: showcopied 1.5s ease;
}

@keyframes showcopied {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  70% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
  }
}

.d-flex {
  display: flex !important; 
}
  
.justify-content-between {
  justify-content: space-around !important; 
}

.post-meta {
    text-transform: uppercase;
    font-weight: bold;
    color: #105289; 
}

.post-meta li::before {
    content: "/";
    font-weight: bold;
    display: inline-block;
    font-size: 1.2em;
    margin: 0px 8px;
    line-height: 0px; 
}

.post-meta li:first-child::before {
    display: none;
}

.post-meta li a {
    letter-spacing: 1px; 
}

.column11 {
	float: left;
	clear: left;
	width: 49%;
        margin-top: 8px;
	border: 1px solid #757e86 !important;
}

.column22 {
	float: right;
	clear: right;
	width: 49%;
        margin-top: 8px;
	border: 1px solid #757e86 !important;
}

@media all and (min-width : 350px) and (max-width : 900px) {
	h3.center {
	text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 75ch;
        }
}

@media all and (min-width : 350px) and (max-width : 400px) {
    .justify-content-between {
	display: none !important;
        }
}
