{% INCLUDE 'overall_header.html' %}

<h2>{{ lang('USER_VIDEOS') }} {{ USERNAME_SEARCH }}</h2>

<div class="action-bar bar-top">
	{% if loops.pagination|length or TOTAL_VIDEOS %}
	<div class="pagination">
		{{ TOTAL_VIDEOS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>

{% if S_SEARCH_USER_VIDEO %}
{% if loops.video|length %}
<div class="panel bg3">
	<div class="inner">
		{% for video in loops.video %}
			<div id="video{{ video.VIDEO_ID }}" class="video_item {% if video.S_ROW_COUNT is even %}column11{% else %}column22{% endif %}">
				<a href="{{ video.U_VIEW_VIDEO }}" title="{{ video.VIDEO_TITLE }}"><img src="{{ video.VIDEO_THUMBNAIL }}" alt="{{ video.VIDEO_TITLE }}" /></a>
				<h3 class="center"><a href="{{ video.U_VIEW_VIDEO }}" title="{{ video.VIDEO_TITLE }}">{{ video.VIDEO_TITLE }}</a></h3>
				<div>
					{{ lang('VIDEO_CAT') }}{{ lang('COLON') }} <a href="{{ video.U_CAT }}" title="{{ video.VIDEO_CAT_TITLE }}">{{ video.VIDEO_CAT_TITLE }}</a> <br />
					{{ lang('VIDEO_DATE') }}{{ lang('COLON') }} {{ video.VIDEO_TIME }} <br />
					{{ lang('VIDEO_VIEWS') }}{{ lang('COLON') }} {{ video.VIDEO_VIEWS }}<br />
					{{ lang('VIDEO_DURATION') }}{{ lang('COLON') }} {{ video.VIDEO_DURATION }}
					{% if ENABLE_VIDEO_YOUTUBE_STATS %}
					 <h3 class="center" style="text-transform: lowercase">{{ lang('STATS_FROM_YOUTUBE') }}</h3>
						<div class="post-meta d-flex justify-content-between">
							<span><i class="icon fa fa-comments-o" aria-hidden="true"></i> {{ video.VIDEO_VIEWS_YOUTUBE_COMMENTS }}</span>
							<span><i class="icon fa fa-eye" aria-hidden="true"></i> {{ video.VIDEO_VIEWS_YOUTUBE }}</span>
							<span><i class="icon fa fa-thumbs-o-up" aria-hidden="true"></i> {{ video.VIDEO_VIEWS_YOUTUBE_LIKE }}</span>
							<span><i class="icon fa fa-thumbs-o-down" aria-hidden="true"></i> {{ video.VIDEO_VIEWS_YOUTUBE_DISLIKE }}</span>
						</div>
					<hr>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% else %}
<br class="clear" />
<div id="information" class="rules">
	<div class="inner">
		<strong>{{ lang('INFORMATION') }}{{ lang('COLON') }}</strong> {{ lang('NO_USER_VIDEOS') }}
	</div>
</div>
{% endif %}

<div class="action-bar bar-bottom">
	{% if loops.pagination|length or TOTAL_VIDEOS %}
	<div class="pagination">
		{{ TOTAL_VIDEOS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>
{% endif %}

<p class="jumpbox-return">
	<a href="{{ U_VIDEO }}" class="left-box arrow-{{ S_CONTENT_FLOW_BEGIN }}" accesskey="r">
		<i class="icon fa-angle-{{ S_CONTENT_FLOW_BEGIN }} fa-fw icon-black" aria-hidden="true"></i><span>{{ lang('RETURN_TO_VIDEO_INDEX') }}</span>
	</a>
</p>
<br class="clear" />

{% INCLUDE 'jumpbox.html' %}

{% INCLUDE 'overall_footer.html' %}
