{% INCLUDE 'overall_header.html' %}

<div id="p{{ VIDEO_ID }}" class="post bg3">
	<div class="inner">
		<div class="postbody">
				{% if U_DELETE and DELETE_ALLOW %}
				<ul class="post-buttons">
					<li>
						<a href="{{ U_DELETE }}" title="{{ lang('VIDEO_DELETE') }}" class="button button-icon-only"><i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('VIDEO_DELETE') }}</span></a>
					</li>
				</ul>
				{% endif %}
			<h3 class="first"><a href="#v{{ VIDEO_ID }}">{{ VIDEO_TITLE }}</a></h3>
			<p class="author">{{ lang('VIDEO_ADD_BY') }} <strong>{{ USERNAME }}</strong> &raquo; {{ VIDEO_TIME }}</p>
			<div class="content" style="text-align: center;">
				<div class="videoWrapper">
					<div id="ytplayer"></div>
				</div>
				<script>
				// Load the IFrame Player API code asynchronously.
				var tag = document.createElement('script');
				tag.src = "https://www.youtube.com/player_api";
				var firstScriptTag = document.getElementsByTagName('script')[0];
				firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

				// Replace the 'ytplayer' element with an <iframe> and
				// YouTube player after the API code downloads.
				var player;
				function onYouTubePlayerAPIReady() {
					player = new YT.Player('ytplayer', {
						videoId: '{{ YOUTUBE_ID }}'
					});
				}
				</script>
				<br>
				<div class="content" style="text-align: left;">{{ VIDEO_DESCRIPTION }}</div>
				<br>
				<a href="{{ YOUTUBE_VIDEO }}" onclick="this.target= '_blank';return true;"><span class="icon_youtube" title="{{ lang('VIDEO_WATCH') }}"></span>{{ lang('VIDEO_WATCH') }}</a>
			</div>
		</div>
		<dl class="postprofile" id="profile{{ VIDEO_ID }}">
			<dd><strong>{{ lang('VIDEO_ADD_BY') ~ lang('COLON') }}</strong>&nbsp;{{ USERNAME }}</dd>
			<dd><strong>{{ lang('TOTAL_VIDEOS') ~ lang('COLON') }}</strong>&nbsp;{{ TOTAL_VIDEOS }} (<a href="{{ U_USER_VIDEOS }}" title="{{ lang('USER_VIDEOS_EXPLAIN') }}">{{ lang('USER_VIDEOS_EXPLAIN') }}</a>)</dd>
			<dd><strong>{{ lang('VIDEO_VIEWS') ~ lang('COLON') }}</strong>&nbsp;{{ VIDEO_VIEWS }}</dd>
			<dd><strong>{{ lang('VIDEO_DURATION') ~ lang('COLON') }}</strong>&nbsp;{{ VIDEO_DURATION }}</dd>
		</dl>
		<div class="back2top"><a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}"><i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span class="sr-only">{{ lang('BACK_TO_TOP') }}</span></a></div>
	</div>
</div>
<div class="panel bg1">
	<div class="inner">
		<h3>{{ lang('VIDEO_LINKS') }}</h3>
		<fieldset class="fields2">
			<dl>
				<dt><label id="codehtml">{{ lang('VIDEO_LINK') ~ lang('COLON') }}</label></dt>
				<dd><input type="text" class="inputbox" value="{{ VIDEO_LINK }}" title="{{ VIDEO_TITLE }}" id="video_link" /><i class="buttoncopy" data-copytarget="#video_link">{{ lang('VIDEO_COPY_BUTTON') }}</i></dd>
			</dl>
			<dl>
				<dt><label>{{ lang('VIDEO_LINK_YOUTUBE') ~ lang('COLON') }}</label></dt>
				<dd><input type="text" class="inputbox" value="{{ YOUTUBE_VIDEO }}" title="{{ VIDEO_TITLE }}" id="video_title" /><i class="buttoncopy" data-copytarget="#video_title">{{ lang('VIDEO_COPY_BUTTON') }}</i></dd>
			</dl>
			<dl>
				<dt><label>{{ lang('VIDEO_BBCODE') ~ lang('COLON') }}</label></dt>
				<dd><input type="text" class="inputbox" value="[url={{ VIDEO_LINK }}]{{ VIDEO_TITLE }}[/url]" title="{{ VIDEO_TITLE }}" id="video_bbcode" /><i class="buttoncopy" data-copytarget="#video_bbcode">{{ lang('VIDEO_COPY_BUTTON') }}</i></dd>
			</dl>
			{% if S_BBCODE_FLASH %}
			<dl>
				<dt><label>{{ lang('VIDEO_EMBED') ~ lang('COLON') }}</label><br><span>{{ FLASH_STATUS }}</span></dt>
				<dd><input type="text" class="inputbox" value="[flash=180,180]{{ VIDEO_LINK_FLASH }}[/flash]" title="{{ VIDEO_TITLE }}" id="video_embed" /><i class="buttoncopy" data-copytarget="#video_embed">{{ lang('VIDEO_COPY_BUTTON') }}</i></dd>
			</dl>
			{% endif %}
		</fieldset>
	</div>
</div>
<br>
{% if S_ENABLE_COMMENTS %}
<div class="action-bar bar-top">
	<div class="buttons">
	{% if not S_IS_BOT and S_POST_COMMENT %}
		<a href="{{ U_POST_COMMENT }}" title="{{ lang('POST_REPLY') }}" class="button icon-button reply-icon">{{ lang('POST_REPLY') }}</a>
	{% endif %}
	</div>
	{% if loops.pagination|length or TOTAL_COMMENTS %}
	<div class="pagination">
		{{ TOTAL_COMMENTS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>
<div class="clear"></div>
{% if loops.commentrow|length %}
<a id="comments"></a>
	{% for commentrow in loops.commentrow %}
	<div id="p{{ commentrow.COMMENT_ID }}" class="post {% if commentrow.S_ROW_COUNT is odd %}bg1{% else %}bg2{% endif %}">
		<div class="inner">
			<div class="postbody" style="width: 98%;">
				{% if not S_IS_BOT %}
				{% if commentrow.S_DELETE_ALLOWED %}
					<ul class="post-buttons">
						<a href="{{ commentrow.U_DELETE }}" title="{{ lang('DELETE_COMMENT') }}" class="button button-icon-only"><i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE_COMMENT') }}</span></a>
					</ul>
				{% endif %}
				{% endif %}
				<h3><a href="#p{{ commentrow.COMMENT_ID }}">{{ commentrow.VIDEO_TITLE }}</a></h3>
				<p class="author">{{ lang('POST_BY_AUTHOR') }}&nbsp;<strong>{{ commentrow.USERNAME }}</strong> &raquo; {{ commentrow.COMMENT_TIME }}</p>

				<div class="content">{{ commentrow.COMMENT_TEXT }}</div>
			</div>
			<div class="back2top"><a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}"><i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i><span class="sr-only">{{ lang('BACK_TO_TOP') }}</span></a></div>
		</div>
	</div>
	<hr class="divider" />
	{% endfor %}
{% else %}
<div class="panel">
	<div class="inner">
		<strong>{{ lang('NO_VIDEOS_COMMENTS') }}</strong>
	</div>
</div>
{% endif %}
{% endif %}
{% if S_ENABLE_COMMENTS %}
<div class="action-bar bar-bottom">
	<div class="buttons">
	{% if not S_IS_BOT and S_POST_COMMENT %}
		<a href="{{ U_POST_COMMENT }}" title="{{ lang('POST_REPLY') }}" class="button icon-button reply-icon">{{ lang('POST_REPLY') }}</a>
	{% endif %}
	</div>
	{% if loops.pagination|length or TOTAL_COMMENTS %}
	<div class="pagination">
		{{ TOTAL_COMMENTS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>
{% endif %}
<p class="jumpbox-return">
	<a href="{{ U_VIDEO }}" class="left-box arrow-{{ S_CONTENT_FLOW_BEGIN }}" accesskey="r">
		<i class="icon fa-angle-{{ S_CONTENT_FLOW_BEGIN }} fa-fw icon-black" aria-hidden="true"></i><span>{{ lang('RETURN_TO_VIDEO_INDEX') }}</span>
	</a>
</p>

{% INCLUDEJS 'js/copy.js' %}
{% INCLUDE 'jumpbox.html' %}

{% INCLUDE 'overall_footer.html' %}
