{% if loops.video|length %}

{% if VIDEO_IS_COLLAPSIBLE %}
<a class="category{% if S_VIDEO_HIDDEN %} hidden-category{% endif %}" style="display: none; height: 0"></a>
{% endif %}

<div class="forabg" id="video">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner"><a href="{{ U_VIDEO }}" title="{{ lang('VIDEO_EXPLAIN') }}">{{ lang('VIDEO_LAST') }} {{ LAST_VIDEOS }} {{ lang('VIDEO') }}</a></div>
					</dt>
					<dd></dd>
				</dl>
				{% if VIDEO_IS_COLLAPSIBLE %}
				<a href="{{ U_VIDEO_COLLAPSE_URL }}"
					class="collapse-btn video-collapse"
					data-hidden="{{ S_VIDEO_HIDDEN }}"
					data-ajax="phpbb_collapse"
					data-overlay="true"
					data-title-alt="{{ lang('VIDEO_CATEGORIES_TITLE', ((not S_VIDEO_HIDDEN) * 1)) }}"
					title="{{ lang('VIDEO_CATEGORIES_TITLE', (S_VIDEO_HIDDEN * 1)) }}">
						<i class="fa {% if S_VIDEO_HIDDEN %}fa-plus-square{% else %}fa-minus-square{% endif %}"></i>
				</a>
				{% endif %}
			</li>
		</ul>
		<ul class="video collapsible bg1" style="max-height:190px; overflow-x:hidden; overflow-y:auto;">
		{% for video in loops.video %}
			<li class="videolist">
				<a href="{{ video.U_VIEW_VIDEO }}" title="{{ video.VIDEO_TITLE }}"><img id="videolists" src="{{ video.VIDEO_THUMBNAIL }}" alt="{{ video.VIDEO_TITLE }}" /></a>
				<h3 class="center"></h3>
				{{ lang('VIDEO_AUTHOR') }}{{ lang('COLON') }} {{ video.USERNAME }}<br />
				{{ lang('VIDEO_CAT') }}{{ lang('COLON') }} <a href="{{ video.U_CAT }}" title="{{ video.VIDEO_CAT_TITLE }}">{{ video.VIDEO_CAT_TITLE }}</a><br />
				{{ lang('VIDEO_DATE') }}{{ lang('COLON') }} {{ video.VIDEO_TIME }}<br />
				{{ lang('VIDEO_VIEWS') }}{{ lang('COLON') }} {{ video.VIDEO_VIEWS }} {{ lang('VIDEO_DURATION') }}{{ lang('COLON') }} {{ video.VIDEO_DURATION }}
			</li>
		{% endfor %}
		</ul>
	</div>
</div>
{% else %}
<div class="forabg" id="video">
	<div class="inner">
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner"><a href="{{ U_VIDEO }}" title="{{ lang('VIDEO_EXPLAIN') }}" role="menuitem">{{ lang('VIDEO_LAST') }} {{ lang('VIDEO') }}</a></div></dt>
					<dd></dd>
				</dl>
			</li>
		</ul>
		<ul class="video bg3">
			<li class="videolist">
				{{ NO_ENTRY }}
			</li>
		</ul>
	</div>
</div>
{% endif %}
