{% INCLUDE 'overall_header.html' %}

{% if not S_IS_BOT and VIDEOSUBMIT %}
<div class="action-bar bar-top">
	<div class="buttons">
		<a href="{{ U_VIDEO_SUBMIT }}" title="{{ lang('VIDEO_SUBMIT') }}" class="button icon-button video-icon">{{ lang('VIDEO_SUBMIT') }}</a>
	</div>
</div>
{% endif %}

<div class="panel bg3 panel-container" id="category-panel">
	<div class="inner">
		<h3>{{ lang('VIDEO_CATS') }}</h3>
		<p>{% for videocat in loops.videocat %}&bull; <a href="{{ videocat.U_CAT }}" id="cat{{ videocat.VIDEO_CAT_ID }}">{{ videocat.VIDEO_CAT_TITLE }}</a> {% endfor %}</p>
	</div>
</div>

{% if loops.video|length %}
<div id="tabs" class="tabs">
	<ul>
		<li class="tab activetab"><a href="#">{{ lang('NEWEST_VIDEOS') }}</a></li>
		{% if not S_IS_BOT and S_USER_LOGGED_IN %}<li class="tab"><a href="{{ U_MY_VIDEOS }}">{{ lang('MY_VIDEOS') }}</a></li>{% endif %}
	</ul>
</div>
<div class="panel bg3">
	<div class="inner">
		{% for video in loops.video %}
			<div id="video{{ video.VIDEO_ID }}" class="video_item {% if video.S_ROW_COUNT is even %}column11{% else %}column22{% endif %}">
				<a href="{{ video.U_VIEW_VIDEO }}" title="{{ video.VIDEO_TITLE }}"><img src="{{ video.VIDEO_THUMBNAIL }}" alt="{{ video.VIDEO_TITLE }}" /></a>
				<h3 class="center"><a href="{{ video.U_VIEW_VIDEO }}" title="{{ video.VIDEO_TITLE }}">{{ video.VIDEO_TITLE }}</a></h3>
				<div>
					{{ lang('VIDEO_AUTHOR') ~ lang('COLON') }} {{ video.USERNAME }}<br>
					{{ lang('VIDEO_CAT') ~ lang('COLON') }} <a href="{{ video.U_CAT }}" title="{{ video.VIDEO_CAT_TITLE }}">{{ video.VIDEO_CAT_TITLE }}</a><br>
					{{ lang('VIDEO_DATE') ~ lang('COLON') }} {{ video.VIDEO_TIME }}<br>
					{{ lang('VIDEO_VIEWS') ~ lang('COLON') }} {{ video.VIDEO_VIEWS }}<br>
					{{ lang('VIDEO_DURATION') ~ lang('COLON') }} {{ video.VIDEO_DURATION }}
					{% if ENABLE_VIDEO_YOUTUBE_STATS %}
					 <h3 class="center" style="text-transform: lowercase">{{ lang('STATS_FROM_YOUTUBE') }}</h3>
						<div class="post-meta d-flex justify-content-between">
							<span><i class="icon fa fa-comments-o" aria-hidden="true"></i> {{ video.VIDEO_VIEWS_YOUTUBE_COMMENTS }}</span>
							<span><i class="icon fa fa-eye" aria-hidden="true"></i> {{ video.VIDEO_VIEWS_YOUTUBE }}</span>
							<span><i class="icon fa fa-thumbs-o-up" aria-hidden="true"></i> {{ video.VIDEO_VIEWS_YOUTUBE_LIKE }}</span>
							<span><i class="icon fa fa-thumbs-o-down" aria-hidden="true"></i> {{ video.VIDEO_VIEWS_YOUTUBE_DISLIKE }}</span>
						</div>
					<hr>
					{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% else %}
<br class="clear">
<div id="information" class="rules">
	<div class="inner">
		<strong>{{ lang('INFORMATION') ~ lang('COLON') }}</strong> {{ NO_ENTRY }}
	</div>
</div>
{% endif %}

<div class="action-bar bar-bottom">
	{% if not S_IS_BOT and VIDEOSUBMIT %}
	<div class="buttons">
		<a href="{{ U_VIDEO_SUBMIT }}" title="{{ lang('VIDEO_SUBMIT') }}" class="button icon-button video-icon">{{ lang('VIDEO_SUBMIT') }}</a>
	</div>
	{% endif %}

	{% if loops.pagination|length or TOTAL_VIDEOS %}
	<div class="pagination">
		{{ TOTAL_VIDEOS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>
<br>

<div class="panel bg3 panel-container" id="statistics-panel">
	<div class="inner">
		<h3>{{ lang('STATISTICS') }}</h3>
		<p>{{ TOTAL_VIDEOS_INDEX }} &bull; {{ TOTAL_CATEGORIES }} &bull; {{ TOTAL_VIEWS }} &bull; {{ TOTAL_COMMENTS }}</p>
	</div>
</div>

{% INCLUDE 'jumpbox.html' %}

{% INCLUDE 'overall_footer.html' %}
