{% INCLUDE 'overall_header.html' %}

<h2>{{ CAT_NAME }}</h2>

<div class="action-bar bar-top">
	{% if loops.pagination|length or TOTAL_VIDEOS %}
	<div class="pagination">
		{{ TOTAL_VIDEOS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>

{% if loops.video|length %}
<div class="panel bg3">
	<div class="inner">
		{% for video in loops.video %}
			<div id="video{{ video.VIDEO_ID }}" class="video_item {% if video.S_ROW_COUNT is even %}column11{% else %}column22{% endif %}">
			<div class="inner">
				<a href="{{ video.U_VIEW_VIDEO }}" title="{{ video.VIDEO_TITLE }}"><img src="{{ video.S_VIDEO_THUMBNAIL }}" alt="{{ video.VIDEO_TITLE }}" /></a>
				<h3 class="center"><a href="{{ video.U_VIEW_VIDEO }}" title="{{ video.VIDEO_TITLE }}">{{ video.VIDEO_TITLE }}</a></h3>
				<div>
					{{ lang('VIDEO_AUTHOR') }}{{ lang('COLON') }} {{ video.USERNAME }} <br />
					{{ lang('VIDEO_DATE') }}{{ lang('COLON') }} {{ video.VIDEO_TIME }} <br />
					{{ lang('VIDEO_VIEWS') }}{{ lang('COLON') }} {{ video.VIDEO_VIEWS }}<br />
					{{ lang('VIDEO_DURATION') }}{{ lang('COLON') }} {{ video.VIDEO_DURATION }}
				</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
{% else %}
<br class="clear" />
<div id="information" class="rules">
	<div class="inner">
		<strong>{{ lang('INFORMATION') }}{{ lang('COLON') }}</strong> {{ lang('NO_CAT_VIDEOS') }}
	</div>
</div>
{% endif %}

<div class="action-bar bar-bottom">
	{% if loops.pagination|length or TOTAL_VIDEOS %}
	<div class="pagination">
		{{ TOTAL_VIDEOS }}
		{% if loops.pagination|length %}
			{% INCLUDE 'pagination.html' %}
		{% else %}
			&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	{% endif %}
</div>

<p class="jumpbox-return">
	<a href="{{ U_VIDEO }}" class="left-box arrow-{{ S_CONTENT_FLOW_BEGIN }}" accesskey="r">
		<i class="icon fa-angle-{{ S_CONTENT_FLOW_BEGIN }} fa-fw icon-black" aria-hidden="true"></i><span>{{ lang('RETURN_TO_VIDEO_INDEX') }}</span>
	</a>
</p>

{% INCLUDE 'jumpbox.html' %}

{% INCLUDE 'overall_footer.html' %}
